<?xml version="1.0" encoding="utf-8" ?>
 <configuration>
   
   <configSections>
    <!--Log4Net-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
   <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
    <section name="UTN.Winforms.Apolo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    <section name="UTN.Winform.Apolo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   </sectionGroup>
  </configSections>
   
   <!--Conexion de la base de Datos-->
   <connectionStrings>
     <add name="default" connectionString="Data Source=localhost;Initial Catalog=Apolo;Integrated Security=false;MultipleActiveResultSets=true;Application Name=Apolo APP;"
       providerName="System.Data.SqlClient" />
     <add name="UTN.Winform.Apolo.Properties.Settings.ApoloConnectionString"
       connectionString="Data Source=.;Initial Catalog=Apolo;User ID=LabClinicoApolo;Password=C0mpl1c4d4"
       providerName="System.Data.SqlClient" />
     <add name="UTN.Winforms.Apolo.Properties.Settings.ApoloConnectionStringReportes"
       connectionString="Data Source=.;Initial Catalog=Apolo;User ID=sa;Password=123456"
       providerName="System.Data.SqlClient" />
   </connectionStrings>
   
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
 <!--Log4Net-->
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="MyControlEventos" />
    </root>
    <appender name="MyControlEventos" type="log4net.Appender.FileAppender">
      <file type="log4net.Util.PatternString" value="c:\temp\Eventos-%date{yyyy-MM-dd}.txt" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level -%message%newline" />
      </layout>
    </appender>
  </log4net>
  
  
  <userSettings>
   <UTN.Winforms.Apolo.Properties.Settings>
    <setting name="Login" serializeAs="String">
     <value>LabClinicoApolo</value>
    </setting>
    <setting name="Password" serializeAs="String">
     <value>C0mpl1c4d4</value>
    </setting>
    <setting name="ApoloConnectionString" serializeAs="String">
     <value>Data Source=.;Initial Catalog=Apolo;User LabClinicoApolo;Password=C0mpl1c4d4</value>
    </setting>
    <setting name="TipoPerfil" serializeAs="String">
     <value />
    </setting>
   </UTN.Winforms.Apolo.Properties.Settings>
  </userSettings>
</configuration>